<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type='text/javascript'>

	//<![CDATA[

	function send_msg(number,msg){

		

		// document.getElementById("resp").innerHTML = "dest="+number+"msg="+msg;

		var xhttp;
		if (window.XMLHttpRequest) {
		    xhttp = new XMLHttpRequest();
		    } else {
		    // code for IE6, IE5
		    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
		}

		xhttp.onreadystatechange = function() {
		  if (this.readyState == 4 && this.status == 200) {
		    document.getElementById("resp").innerHTML = this.responseText;
		  }
		};

		xhttp.open("GET", "https://api.unicel.in/SendSMS/sendmsg.php?uname=ISKCONKO&pass=86hyg6&send=IYFkol&dest=" + number +"&msg=" + msg, true);
		xhttp.send();

		// xhttp.send("fname=Henry&lname=Ford");  //POST
		
	}

	//]]>
</script>
</head>
<body>
<h1>Send SMS</h1>

<div id="resp"> hare krishna</div>
<form action="javascript:void(0)">
<label for="receiver">Mobile No.</label>
<input id="receiver" type="number" name="rec" />

<label for="msg">MEssage</label>
<textarea id="msg" name="msg" rows="5" maxlength="160"></textarea>

<input type="submit" name="send" onclick="send_msg($('#receiver').val(),$('#msg').val())" /></form>


</form>

</body>

</html>