.keepdist{
padding-right: 5px;
}
.seperate{
padding-right: 10px;
}
td.stabbed{
	border-right:5px solid;
}
img.right,figcaption.right{
	float:right;
	margin:15px 70px 15px 50px;
}
img.left,figcaption.right{
	float:left;
	margin:15px 70px 15px 50px;
}
.col-sm-3,.special{
width: 20% !important;
}
@media (min-width: 1400px)
.container {
    width: 1380px !important;
}
@media (min-width: 1200px)
.container{
	width: 1180px !important;
}
@media (min-width: 800px)
.container{
	width: 795px !important;
}